body {
	background: #edf3f9;
	color: #3f4f5f;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 800px;
}

header {
	border-bottom: 2px solid #3f4f5f;
	padding: 6.25em 0 3.95em;
	text-align: center;
	width: 100%;
}

header h1 {
	margin: 0 0 10px;
}

.example {
	padding: 3em 0;
}

h2 {
	text-align: center;
}

pre {
	background: #f5f2f0;
	color: #000;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	line-height: 26px;
	padding: 1em;
	text-shadow: 0 1px white;
	white-space: pre-wrap;
}

pre span.string {
	color: #690;
}
pre span.number {
	color: #905;
}